@page "/pdfdenerate/{id}"
@inherits PDFGenerateBase
@if(OfferData == null)
{
    <div class="spinner"></div>
}
else{
<br/>
    <br />
<div class="pdf-container">
    <div class="pdf-content">@html</div>
    </div>
    <br />

    
    <a class="btn btn-success m-1" @onclick ="DownloadPDF">Download</a>
    <a href="@($"/edit/{@Id}")" class="btn btn-primary m-1">Edit</a>
}